* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.logo-display {
  width: 300px;
}

.cursor-pointer {
  cursor: pointer;
}

.fs-7 {
  font-size: 0.80rem !important;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-mh {
  height: 320px !important;
}

.img-mh {
  min-height: auto !important;
}

.h-100 {
  max-height: 100% !important;
}

@media only screen and (max-width: 767px) {
.img-res {
  max-height: 75% !important;
}
}